.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff9ee;
}

.meWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.snsWrapper > a {
  margin: 8px;
}
